/* BEM naming conventions are used for this project. */
/* Reset Styles */
* {
  box-sizing: border-box; /* Easier calculations for padding, margin, borders */
  font-size: 100%; /* Ensures font defaults to user-selection for accessibility */
}

/* Page Styles */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Blocks */
.container {
  display: grid;
  grid-template: 1fr auto auto / 100%;
  max-width: 1000px;
  margin: 0 auto;
  background: hsl(0, 0%, 100%);
}

.header {
  grid-row: 1 / 2;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  text-align: center;
  background: hsl(214, 83%, 89%);
  font-family: 'Robot', sans-serif;
}

.main {
  grid-row: 2 / 3;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer {
  grid-row: 3 / 4;
  margin: 10px auto 0;
  width: 100%;
  padding: 20px;
  background: hsl(214, 83%, 89%);
}

/* Header Elements */
.header__title {
  font-weight: 400;
  font-size: 3em;
  margin: 0;
}

.header__subtitle {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0;
}

.header__img {
  margin: 10px auto;
  max-width: 400px;
  height: auto;
}
.header__img-caption {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

/* Main Elements */
.main__article {
  line-height: 1.8;
}

.main__header {
  font-size: 1.3em;
  margin: 20px 0;
}

.main__albums {
  display: block;
}

.main__quote {
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}

/* Footer Elements */
.footer__reference-link {
  text-align: center;
}

