/* BEM naming conventions are used for this project. */
/* Reset Styles */
* {
  /* Easier calculations for padding, margin, borders */
  box-sizing: border-box;
  /* Ensures font defaults to user-selection for accessibility */
  font-size: 100%;
}

/* Page Styles */
body {
  font-family: var(--content-font);
}

/* Global Site Variables */
:root {
  --primary-bg-color: hsl(214, 83%, 89%);
  --content-bg-color: hsl(0, 0%, 100%);

  --title-font: 'Playfair Display', sans-serif;
  --content-font: 'Open Sans', sans-serif;
  --img-caption-font: 'Open Sans Condensed', sans-serif;

}

/* Blocks */
.container {
  display: grid;
  grid-template: 1fr auto auto / 100%;
  max-width: 1000px;
  margin: 0 auto;
  background: var(--content-bg-color);
}

.header {
  grid-row: 1 / 2;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  text-align: center;
  background: var(--primary-bg-color);
  font-family: var(--title-font);
}

.main {
  grid-row: 2 / 3;
  display: grid;
  grid-template: auto auto 1fr 1fr auto/ repeat(3, 1fr);
  column-gap: 2%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer {
  grid-row: 3 / 4;
  margin: 10px auto 0;
  width: 100%;
  padding: 20px;
  background: var(--primary-bg-color);
}

/* Header Elements */
.header__title {
  font-weight: 700;
  font-size: 3em;
  margin: 0;
}

.header__subtitle {
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
}

.header__img {
  margin: 10px auto;
  max-width: 400px;
  height: auto;
}

/* Included to pass FCC project spec */
img {
  max-width: 400px;
  height: auto;
  display: block;
}

.header__img-caption {
  font-family: var(--img-caption-font);
  font-weight: 400;
  font-size: 1.3em;
}

/* Main Elements */
.main__article {
  line-height: 1.8;
  grid-area: 1 / 1 / 2 / span 3;
}

.main__header {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.5em;
  margin: 20px 0;
  grid-column: 1 / span 3;
}

.main__quote {
  font-weight: 700;
  font-style: italic;
  text-align: center;
  grid-area: 5 / 1 / 6 / span 3;
  width: 70%;
  margin: 0 auto;
  border: 1px solid black;
}

.main__albums {
  text-align: center;
  font-family: var(--img-caption-font);
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.main__albums img {
  border: 1px solid black;
}

.main__album-one {
  grid-area: 3 / 1 / 4 / span 1;
}

.main__album-two {
  grid-area: 3 / 2 / 4 / span 1;
}

.main__album-three {
  grid-area: 3 / 3 / 4 / span 1;
}

.main__album-four {
  grid-area: 4 / 1 / 5 / span 1;
}

.main__album-five {
  grid-area: 4 / 2 / 5 / span 1;
}

/* Footer Elements */
.footer__reference-link {
  text-align: center;
}